# for tailwind css
node_modules
#------------------------#

# for settings
my_application/local_settings.py


# for mirgrations
*/migrations/*.py
!*/migrations/__init__.py
# keep __init__.py files 排除__init__.py文件

# for macOS
.DS_Store

#for pycharm
.idea

# for rav
rav.yaml

# for proxy_middleware.py
ai_apps/middleware/proxy_middleware.py