{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Ai_Apps--{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'tailwind_app/css/tailwind.css' %}">
</head>
<body>
<div class="flex mx-5 my-10">
	<a class="block w-52 text-center font-bold text-2xl p-3 border border-gray-300 hover:bg-blue-700" href="">翻译助手</a>
	<a class="block w-30 text-center font-bold text-2xl" href="">邮件助手</a>
</div>

{% block content %}
{% endblock content%}





</body>
</html>