{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Ai_Apps--{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'tailwind_app/css/tailwind.css' %}">
	<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
	<!-- 这个可以使得网页根据屏幕大小做适配 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="flex mx-5 my-10">
	<a class="cus-navbtn" href="{% url 'translator' %}">翻译助手</a>
	<a class="cus-navbtn" href="{% url 'email_writer' %}">邮件助手</a>
	<a class="cus-navbtn" href="{% url 'csa' %}">客服助手</a>
</div>

{% block content %}
{% endblock content %}


</body>
</html>