{% extends 'base_for_ai_apps.html' %}
{% load static %}
{% block title %}
	邮件助手
{% endblock title %}

{% block content %}

	<div class="h-screen flex justify-center items-center bg-gray-200">
		<div class="bg-white p-6 rounded shadow-md w-full">
			<div id="chatbox" class="overflow-y-auto h-max mb-4 border-b-2">


				<!-- 右边用户消息  左边ai消息 -->


			</div>
			<!-- 电脑端的输入框 -->
			<div class="block w-3/4 mx-auto">
				<div class="my-2 flex flex-row items-center h-12">
					<!-- 三个svg按钮 -->
					<div class="flex flex-row h-full space-x-1 mr-3">
						<!-- 删除btn的svg -->
						<button type="button">
							<svg class="h-full p-2 text-gray-500 rounded-full hover:bg-gray-100"
								 xmlns="http://www.w3.org/2000/svg"
								 xmlns:xlink="http://www.w3.org/1999/xlink"
								 aria-hidden="true" role="img"
								 viewBox="0 0 24 24">
								<path fill="currentColor"
									  d="M17 6h5v2h-2v13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V8H2V6h5V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3Zm1 2H6v12h12V8Zm-9 3h2v6H9v-6Zm4 0h2v6h-2v-6ZM9 4v2h6V4H9Z"></path>
							</svg>
						</button>

						<!-- 下载文件的btn的svg -->
						<button>
							<svg class="h-full p-2 text-gray-500 rounded-full hover:bg-gray-100"
								 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
								 aria-hidden="true" role="img"
								 viewBox="0 0 24 24">
								<path fill="currentColor"
									  d="M13 10h5l-6 6l-6-6h5V3h2v7Zm-9 9h16v-7h2v8a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-8h2v7Z"></path>
							</svg>
						</button>

						<!-- 上下文开关btn的svg -->
						<button>
							<svg class="h-full p-2 text-green-500 rounded-full hover:bg-gray-100"
								 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
								 aria-hidden="true" role="img"
								 viewBox="0 0 24 24">
								<path fill="currentColor"
									  d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10a9.956 9.956 0 0 1-4.708-1.175L2 22l1.176-5.29A9.956 9.956 0 0 1 2 12C2 6.477 6.477 2 12 2Zm0 2a8 8 0 0 0-8 8c0 1.335.326 2.618.94 3.766l.35.654l-.656 2.946l2.948-.654l.653.349A7.955 7.955 0 0 0 12 20a8 8 0 1 0 0-16Zm1 3v5h4v2h-6V7h2Z"></path>
							</svg>
						</button>
					</div>
					<input type="text" id="user_input"
						   class="w-full text-xl px-3 py-2 border rounded focus:outline-none text-gray-700"
						   placeholder="来说点什么把...（Shift + Enter = 换行 ）">

					<button id="generateChatBtn"
							class="h-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-5">
						send
					</button>
					<button id="stopbtn"
							class="h-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-5"
							type="button">stop
					</button>
				</div>

			</div>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
	<script>



        $(function () {
            $('#generateChatBtn').click(function () {
                // 执行createMychatDiv()函数，并且把返回值赋值给userInputText
                let userInputText = creatMychatDiv();
                // 当userInputText不为空时，执行streamEvent()函数
                if (userInputText) {
                    streamEvent(userInputText);
                }
            });

            $('#user_input').keydown(function (event) {
                handleShiftEnter(event);
            });

            $('#stopbtn').click(function () {
                stopGenerateEvent();
            });

            recoverChatHistory();
        });

        var chatbox = document.getElementById("chatbox");

        // 页面加载时，从localStorage恢复div
        function recoverChatHistory() {
            window.onload = function () {
                var savedMyChatContent = localStorage.getItem('myChatDiv');
                var savedAiChatContent = localStorage.getItem('aiChatDiv');
                if (savedMyChatContent) {
                    chatbox.innerHTML += savedMyChatContent;
                }
                if (savedAiChatContent) {
                    chatbox.innerHTML += savedAiChatContent;
                }
            };
        }

        function creatMychatDiv() {
            var div = document.createElement("div");
            var userInputText = document.getElementById("user_input").value

            if (userInputText == "") {
                return;
            } else {
                div.innerHTML = `
            <div class="flex justify-end my-2">
                <div class="user-message bg-blue-100 text-blue-700 rounded-lg px-4 py-2 inline-block max-w-xs break-words">
                    ${userInputText}
                </div>
                <img src="{% static 'ai_apps/svg/ai_avatar.svg' %}" alt="User Avatar" class="rounded-full h-10 w-10 ml-3 object-cover">
            </div>
        `;
                chatbox.appendChild(div);
                localStorage.setItem('myChatDiv', chatbox.innerHTML);  // 新增代码保存聊天记录
                document.getElementById("user_input").value = "";
                return userInputText;
            }
        };

        function creatAichatDIV(aiChatText) {
            var div = document.createElement("div");
            div.innerHTML = `<div class="flex justify-start my-2">
        <img src="{% static 'ai_apps/svg/ai_avatar.svg' %}" alt="Assistant Avatar"
             class="rounded-full h-10 w-10 mr-3 object-cover">
        <div class=" bg-green-100 text-green-700 rounded-lg px-4 py-2 inline-block max-w-xs break-words">
            <div class="ai-message">${aiChatText}</div>
        </div>
    </div>`;
            return div
        }

        function streamEvent(userInputText) {
            let stop = "false"
            const eventSource = new EventSource(`{% url 'pack_chatbot_stream' %}?stop=${stop}&userInputText=${userInputText}`);
            var fullAiChatText = "";  // 用于保存AI的回复
            // 在调用 streamEvent 函数时创建一个新的 div
            var aiChatdiv = creatAichatDIV('');
            eventSource.addEventListener('message', function (e) {
                const data = e.data;
                if (data == '') {
                    eventSource.close()
                    console.log("由于后端停止，关闭sse连接")
                    return
                } else {
                    console.log("data:", data, typeof (data))  // 打印服务器端的stream数据
                    var parsedData = JSON.parse(data);
                    var parsedContent = parsedData.content
                    fullAiChatText += parsedContent
                    console.log("fullAiChatText:", fullAiChatText, typeof (fullAiChatText))
                    var fullAiChatHtml = convertMarkdownToHtml(fullAiChatText); // 将AI的回复转换为html格式
                    console.log("fullAiChatHtml:", fullAiChatHtml, typeof (fullAiChatHtml))
                    // 更新 div 的内容
                    aiChatdiv.querySelector(".ai-message").innerHTML = fullAiChatHtml;
                }
            });
            // 一定要在 eventSource.addEventListener 之后再调用 appendChild，不然会一直覆盖原来的aiChatdiv
            chatbox.appendChild(aiChatdiv);
            localStorage.setItem('aiChatDiv', chatbox.innerHTML);  // 新增代码，保存聊天记录

        }


        function handleShiftEnter(event) {
            if (event.shiftKey && event.keyCode == 13) {
                event.preventDefault();
                var cursorPos = event.target.selectionStart;
                var textBefore = event.target.value.substring(0, cursorPos);
                var textAfter = event.target.value.substring(cursorPos, event.target.value.length);
                event.target.value = textBefore + "\n" + textAfter;
            }
            if (event.keyCode == 13) {
                event.preventDefault()
                let userInputText = creatMychatDiv();
                if (userInputText) {
                    streamEvent(userInputText);
                }
            }
        }

        function stopGenerateEvent() {
            stop = "true"
            const eventSource = new EventSource(`{% url 'pack_chatbot_stream' %}?text=${text}&stop=${stop}`);
            eventSource.close()
        }

        function convertMarkdownToHtml(aiChatText) {
            try {
                var converter = new showdown.Converter();
                var aiChatHtml = converter.makeHtml(aiChatText);
                return aiChatHtml;
            } catch (error) {
                console.error("Markdown转换出错: ", error);
                // 返回原始文本或者一些默认的HTML，以防Markdown转换失败
                return aiChatText || "<p>无法显示内容</p>";
            }
        }


	</script>

{% endblock %}