{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="{% static 'tailwind_app/css/tailwind.css' %}">
</head>
<body>
<div class="h-10 border border-black">
	<h1 class="text-center leading-10 font-bold text-2xl ">翻译</h1>
</div>

<div class="relative mt-10">
	<form class="block w-3/4 mx-auto" novalidate>
	{% csrf_token %}
	{% for field in form %}
		<div class="my-2">
			<label class="text-xl block mb-3" for="{{ field.name }}">{{ field.label }}</label>
			{{ field }}
			{{ endfor }}
		</div>
	{% endfor %}


		<button id="translateBtn"
				class="float-right bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-8 rounded"
				type="button">
			翻译
		</button>
	</form>
</div>



<script src="{% static 'staticfiles_for_project/js/jquery.js' %}"></script>
<script src="{% static 'staticfiles_for_project/js/csrf.js' %}"></script>

<script>
    $(function () {

        btnClickEvent();
        clearOldTranslation();
    })


    // 按钮点击事件
    function btnClickEvent() {
        $('#translateBtn').click(function () {
            $.ajax({
                url: '{% url 'translate' %}',
                type: 'POST',
                data: $('form').serialize(),
                dataType: 'text',// 服务器返回的数据类型
                success: function (res) {
                    console.log($('#id_text').serialize());
                    if (res) {
                        console.log(res);
                        // 创建 EventSource 对象，并指定 URL
                        const eventSource = new EventSource("{% url 'stream_data' %}");

                        // 监听 message 事件
                        eventSource.addEventListener("message", (event) => {
                            const data = JSON.parse(event.data);
                            if (data.status) {
                                console.log(data.data.translation);
                                const translation = data.data.translation;
                                appendTranslation(translation);
                            }
                        });
                    } else {
                        alert("fail")
                    }
                }
            })
        })
    }


    //

    // 当id=id_text的input框的值发生改变时，清空id=id_translation的input框的值
    function clearOldTranslation() {
        $('#id_text').change(function () {
            $('#id_translation').val('')
        })
    }
</script>
</body>
</html>