
{% extends "base.html" %}
{% load static %}

{% block title %}
翻译助手
{% endblock title %}


{% block content %}
<div class="relative mt-10">
	<form class="block w-3/4 mx-auto" novalidate>
	{% csrf_token %}
	{% for field in form %}
		<div class="my-2">
			<label class="text-xl block mb-3" for="{{ field.name }}">{{ field.label }}</label>
			{{ field }}
			{{ endfor }}
		</div>
	{% endfor %}


		<button id="translateBtn"
				class="w-full my-5 bg-blue-500 hover:bg-blue-700 text-white text-xl font-bold py-3 rounded"
				type="button">
			翻译
		</button>
	</form>
</div>


<script src="{% static 'staticfiles_for_project/js/jquery.js' %}"></script>
<script src="{% static 'staticfiles_for_project/js/csrf.js' %}"></script>

<script>
    $(function () {

        btnClickEvent();
        clearOldTranslation();
    })


    // 按钮点击事件
    function btnClickEvent() {
        $('#translateBtn').click(function () {
            $.ajax({
                url: '{% url 'translate' %}',
                type: 'POST',
                data: $('form').serialize(),
                dataType: 'json',// 服务器返回的数据类型
                success: function (res) {
                    console.log($('#id_text').serialize());
                    if (res.status) {
                        console.log(res);
                        $('#id_translation').val(res.data.translation)
                    } else {
                        alert("fail")
                    }
                }
            })
        })
    }


    // 当id=id_text的input框的值发生改变时，清空id=id_translation的input框的值
    function clearOldTranslation() {
        $('#id_text').change(function () {
            $('#id_translation').val('')
        })
    }
</script>
{% endblock %}