{% extends "base_for_ai_apps.html" %}
{% load static %}

{% block title %}
	翻译助手
{% endblock title %}


{% block content %}
	<div class="relative mt-10">
		<form class="block w-3/4 mx-auto" novalidate>
			{% csrf_token %}
			{% for field in form %}
				<div class="my-2">
					<label class="text-xl block mb-3" for="{{ field.name }}">{{ field.label }}</label>
					{{ field }}
					{{ endfor }}
				</div>
			{% endfor %}

			<button id="stopbtn"
					class="my-5 bg-blue-500 hover:bg-blue-700 text-white text-xl font-bold py-3 px-8 rounded"
					type="button">停止
			</button>

			<button id="translateBtn"
					class="w-full my-5 bg-blue-500 hover:bg-blue-700 text-white text-xl font-bold py-3 rounded"
					type="button">
				翻译
			</button>
		</form>
	</div>




	<script>
        $(function () {
            // 点击翻译事件
            $('#translateBtn').click(function () {
                streamEvent();
            });
            // 按下Enter键运行streamEvent函数
            $('#id_text').keydown(function (event) {
				handleShiftEnter(event)
            });
            // 点击停止事件
            $('#stopbtn').click(function () {
                stopGernerateEvent();
            });
            // clearOldTranslation();

        });

        let lastText = ''

		function streamEvent() {
            text = $('#id_text').val()
            // 如果内容相同，不连接后端，省钱
            if (text == lastText) {
                alert('请勿重复提交')
                return
            } else {
                lastText = text
            }
            // 判断text有没有内容
            if (!text) {
                // 内容为空不连接后端，省钱
                alert('请输入要翻译的内容')
            } else {
                // 内容不为空，连接后端
                stop = "false"  // 设置get请求的stop参数，在后端判断是否停止
                const eventSource = new EventSource(`{% url 'pack_trans_stream' %}?text=${text}&stop=${stop}`);
                eventSource.addEventListener('message', function (e) {
                    const data = e.data;
                    if (data == '') {
                        // 如果data为空，说明后端已经停止了，关闭连接
                        eventSource.close()
                        console.log("由于后端停止，关闭sse连接")
                    } else {
                        console.log("data:", data, typeof (data)) // 输出data,是string类型
                        // 解析JSON格式的数据，将json字符串转换成json对象
                        var pasedData = JSON.parse(data);
						var paredContent = pasedData.content
						// 获取id=id_translation的textarea框
                        var textarea = document.getElementById('id_translation');
                        textarea.value += paredContent;
                    }


                });
                // 处理连接断开的情况
                eventSource.addEventListener('error', function () {
                    console.error('连接已断开', "error");
                    // 如果需要，可以尝试重新连接
                });
            }
        }

        function handleShiftEnter(event) {
            if (event.shiftKey && event.keyCode == 13) {
                // 阻止默认行为（例如，不发送表单）
                event.preventDefault();
                // 在光标位置插入换行符
                var cursorPos = event.target.selectionStart;
                var textBefore = event.target.value.substring(0, cursorPos);
                var textAfter = event.target.value.substring(cursorPos, event.target.value.length);
                event.target.value = textBefore + "\n" + textAfter;
            }
            if (event.keyCode == 13) {
                // 运行streamEvent函数
                event.preventDefault()
				// 每次按下回车键，清空id=id_translation的textarea框的值
                $('#id_translation').val('')
                streamEvent()  // 直接调用全局的 streamEvent 函数
            }
        }

        function stopGernerateEvent() {
            stop = "true"
            const eventSource = new EventSource(`{% url 'pack_trans_stream' %}?text=${text}&stop=${stop}`);
            eventSource.close()

        }




	</script>
{% endblock %}